<header class="navbar">
    <p>this is the header</p>
</header>

<main>

    <input type="text" placeholder="name">
    <input type="text" placeholder="year">
    <input type="text" placeholder="horsepower">
    <input type="text" placeholder="mileage">
    <button>create car</button>

    <button
        (click)="getData()">

        get cars
    </button>
    <button>update car</button>
    <button>delete car</button>

    <ul
        *ngIf="renderData">

        <li *ngFor="let item of carList">car: {{ item.name }}</li>
    </ul>

</main>

<footer>
    <p>this is the footer</p>
</footer>
