.navbar {
    background-color: coral;
    display: flex;
}

main {
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    background-color: blanchedalmond;
    display: flex;
}